{% extends 'base.html' %}
{% load static %}
{% load youtube_filters %}

<!-- base.html 랑 다른 title -->
{% block title %} Blog detail:{{ keyword }}{% endblock %}


{% block content %}

{% include "./youtube_all_lists_nav.html" %}

<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="about-img position-relative overflow-hidden p-5 pe-0">
                    <img class="img-fluid w-100" src="{% static 'img/about.jpg' %}">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="mb-4">제주 호텔</h1>
                <p class="mb-4">간단한 숙소 소개. 없을 경우 생략</p>
                <p><i class="fa fa-check text-primary me-3"></i>여기어때 10000원</p>
                <p><i class="fa fa-check text-primary me-3"></i>야놀자 10000원</p>
                <p><i class="fa fa-check text-primary me-3"></i>데일리호텔 10000원</p>
                <p><i class="fa fa-check text-primary me-3"></i>트립비토즈 10000원</p>
                <!-- <a class="btn btn-primary py-3 px-5 mt-3" href="">Read More</a> -->
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Property List Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-0 gx-5 align-items-end">
            <div class="col-lg-6">
                
            </div>
            <!-- <div class="col-lg-6 text-start text-lg-end wow slideInRight" data-wow-delay="0.1s">
                <ul class="nav nav-pills d-inline-flex justify-content-end mb-5">
                    <li class="nav-item me-2">
                        <a class="btn btn-outline-primary active" data-bs-toggle="pill" href="#tab-1">Featured</a>
                    </li>
                    <li class="nav-item me-2">
                        <a class="btn btn-outline-primary" data-bs-toggle="pill" href="#tab-2">For Sell</a>
                    </li>
                    <li class="nav-item me-0">
                        <a class="btn btn-outline-primary" data-bs-toggle="pill" href="#tab-3">For Rent</a>
                    </li>
                </ul>
            </div> -->
        </div>
        <div class="tab-content">
            <!-- 관광지 시작 -->
            <div class="text-start mx-auto mb-5 wow slideInLeft" data-wow-delay="0.1s">
                <h1 class="mb-3">관광지</h1>
                <!-- 더보기 클릭시 값 전달. 숙소 주변 관광지를 특정 할 수 있는 무언가 ex) near_attraction_list -->
                <p>숙소 주변의 관광지</p><p>더보기</p>
            </div>
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4">
                     <!-- 구현시 받아온 관광지_리스트 중 3개 반복 -->
                     {% for attraction in attraction_list %}
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <!-- 구현시 url 뒤에 값 전달 attraction.visitkorea_id -->
                                <a href=""><img class="img-fluid" src= {{ attraction.visitkorea_firstimage }} alt=""></a>
                                <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">{{ attraction.visitkorea_title }}</div>
                                <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">{{ attraction.visitkorea_address }}</div>
                            </div>
                            <div class="p-4 pb-0">
                                <!-- <h6 class="text-primary mb-3">기타설명</h6> -->
                                <p id="attraction_overview_summary">
                                    <i class="fa fa-map-marker-alt text-primary me-2"></i>{{ attraction.visitkorea_overview}}</p>

                                <!-- <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3" style= "max-width: 86%;">
                                    <div class="overflow-hidden text-nowrap text-truncate">타이틀:용바위 위에서 고기굽기어디까지 가능한가</div>
                                </div>  -->
                                <!-- <a class="d-block h5 mb-2" href="">Golden Urban House For Sell</a>
                                <p><i class="fa fa-map-marker-alt text-primary me-2"></i>123 Street, New York, USA</p> -->
                            </div>
                            <!-- <div class="d-flex border-top">
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>맛집</small>
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-primary me-2"></i>관광지</small>
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-primary me-2"></i>블로그</small>
                                <small class="flex-fill text-center py-2"><i class="fa fa-bath text-primary me-2"></i>유튜브</small>
                            </div> -->
                        </div>
                    </div>
                    {% endfor %}
                     <!-- 아이템 반복 끝 -->
                </div>
            </div>
            <!-- 관광지 끝 -->

            <!-- 맛집 시작 -->
            <div class="text-start mx-auto mb-5 wow slideInLeft" data-wow-delay="0.1s">
                <h1 class="mb-3">맛집</h1>
                  <!-- 더보기 클릭시 값 전달. 숙소 주변 맛집을 특정 할 수 있는 무언가 ex) near_restaurant_list -->
                <p>숙소 주변의 맛집</p><p>더보기</p>
            </div>
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4">
                     <!-- 구현시 받아온 맛집_리스트 중 3개 반복 -->
                     {% for _ in "123" %}
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <!-- 구현시 url 뒤에 값 전달 -->
                                <a href=""><img class="img-fluid" src="http://tong.visitkorea.or.kr/cms/resource/04/1938304_image2_1.jpg" alt=""></a>
                                <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">제주 떡볶이</div>
                                <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">제주시 서귀포 1번지</div>
                            </div>
                            <div class="p-4 pb-0">
                                <h6 class="text-primary mb-3">기타설명(종류,별점 등)</h6>
                                <!-- <a class="d-block h5 mb-2" href="">Golden Urban House For Sell</a>
                                <p><i class="fa fa-map-marker-alt text-primary me-2"></i>123 Street, New York, USA</p> -->
                            </div>
                            <!-- <div class="d-flex border-top">
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>맛집</small>
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-primary me-2"></i>관광지</small>
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-primary me-2"></i>블로그</small>
                                <small class="flex-fill text-center py-2"><i class="fa fa-bath text-primary me-2"></i>유튜브</small>
                            </div> -->
                        </div>
                    </div>
                    {% endfor %}
                     <!-- 아이템 반복 끝 -->
                </div>
            </div>
            <!-- 맛집 끝 -->

            <!-- 유튜브 시작 -->
            <div class="text-start mx-auto mb-5 wow slideInLeft" data-wow-delay="0.1s">
                <h1 class="mb-3">유트브</h1>
                <p>관광지/맛집으로 유트브 검색한 내용</p><p>더보기</p>
            </div>
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4">
                     <!-- 구현시 받아온 유트브_리스트 중 3개 반복 -->
                     {% for _ in "123" %}
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <!-- 구현시 url 뒤에 값 전달 -->
                                <a href=""><img class="img-fluid" src="http://tong.visitkorea.or.kr/cms/resource/04/1938304_image2_1.jpg" alt=""></a>
                                <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">채널명?유튜버이름?</div>
                                <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3" style= "max-width: 86%;">
                                    <div class="overflow-hidden text-nowrap text-truncate">타이틀:제주떡볶이 왕대박!</div>
                                </div> 
                            </div>
                            <div class="p-4 pb-0">
                                <h6 class="text-primary mb-3">기타설명(별점, 종아요수, 구독자 등? 썸네이표시 가능이면 생략)</h6>
                                <!-- <a class="d-block h5 mb-2" href="">Golden Urban House For Sell</a>
                                <p><i class="fa fa-map-marker-alt text-primary me-2"></i>123 Street, New York, USA</p> -->
                            </div>
                            <!-- <div class="d-flex border-top">
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>맛집</small>
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-primary me-2"></i>관광지</small>
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-primary me-2"></i>블로그</small>
                                <small class="flex-fill text-center py-2"><i class="fa fa-bath text-primary me-2"></i>유튜브</small>
                            </div> -->
                        </div>
                    </div>
                    {% endfor %}
                     <!-- 아이템 반복 끝 -->
                </div>
            </div>
            <!-- 유튜브 끝 -->

            <!-- 블로그 시작  -->
            <div class="text-start mx-auto mb-5 wow slideInLeft" data-wow-delay="0.1s">
                <h1 class="mb-3">블로그</h1>
                <p>관광지/맛집으로 블로그 검색한 내용</p><p>더보기</p>
            </div>
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4">
                     <!-- 구현시 받아온 블로그_리스트 중 3개 반복 -->
                     {% for _ in "123" %}
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <!-- 구현시 url 뒤에 값 전달 -->
                                <a href=""><img class="img-fluid" src="http://tong.visitkorea.or.kr/cms/resource/04/1938304_image2_1.jpg" alt=""></a>
                                <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">블로거이름</div>
                                <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3" style= "max-width: 86%;">
                                    <div class="overflow-hidden text-nowrap text-truncate">타이틀:용바위 위에서 고기굽기어디까지 가능한가</div>
                                </div> 
                            </div>
                            <div class="p-4 pb-0">
                                <h6 class="text-primary mb-3">기타설명</h6>
                                <p><i class="fa fa-map-marker-alt text-primary me-2"></i>기타설명</p>
                                <!-- <a class="d-block h5 mb-2" href="">Golden Urban House For Sell</a>
                                <p><i class="fa fa-map-marker-alt text-primary me-2"></i>123 Street, New York, USA</p> -->
                            </div>
                            <!-- <div class="d-flex border-top">
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>맛집</small>
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-primary me-2"></i>관광지</small>
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-primary me-2"></i>블로그</small>
                                <small class="flex-fill text-center py-2"><i class="fa fa-bath text-primary me-2"></i>유튜브</small>
                            </div> -->
                        </div>
                    </div>
                    {% endfor %}
                     <!-- 아이템 반복 끝 -->
                </div>
            </div>
            <!-- 블로그 끝 -->
        </div>
    </div>
</div>
<!-- Property List End -->

{% endblock content %}